@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

h1,h2,h3,h4,h5,h6, p{
    font-family: 'Roboto';
}
h1{
    font-size: 9em;
    text-align: center;
    transform: uppercase;
}
h2{
    font-size: 5em;
    text-align: center;
    transform: uppercase;
    color: white;
    text-shadow: #020819 8px -20px 9px;

}
h3{
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
}
h4{
    font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
    margin-bottom: 15px;
}
h5{
    font-size: 1.2em;
    line-height: 1em;
}
.nav-bar{
    background-color: rgb(25, 33, 41);
    padding: 14px;
}
.nav-bar a{color: white; text-decoration: none; font-size: 2em; }
.nav-bar-ul{
    width: 1200px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
.nav-bar-ul li{
    list-style-type: none;
    text-align: center;
}
.header{
    background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding-top: 50px;
    position: relative;
}
.container{
    /* width: 1200px; */
    margin: 0;
    padding: 75px 0;
}

.quote{
    font-size: 1.5em;
    position: absolute;
    left: 10%;
    bottom: 100px;
}
ul{
    list-style: none;
}
.dark-background{
    background-color: rgb(25, 33, 41);
    color: white;
}

#general-information{
    display: flex;
    justify-content: space-evenly;
}
#general-information .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
}
.text{
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.link-btn{
    background-color:rgb(67, 163, 230) ;
    color: white;
    font-family: 'Roboto';
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#structure div{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.service-box{
    font-size: 1.7em;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
    margin-top: 50px;
    margin-right: 5%;
    margin-bottom: 0;
    margin-left: 5%;
    padding: 20px;
    width: 40%;
}
.service-box img{
    width: 125px;
}
#team{
    padding: 75px 0;
    margin: 0 auto;
}
#team div{
    display: flex;
    justify-content: space-evenly;
}
#team div article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#team .section-text{
    font-size: 1.9em;
    text-align: center;
    width: 60%;
    margin: 10px auto;
}
#team .member-name{
    font-size: 1.5em;
    font-weight: 700;
}
#team img{
    width: 250px;
    height: 180px;
}
hr{
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    width: 40%;
}

.schedule-table{
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    font-size: 1.5em;
}
.schedule-table th, td{
    border-bottom: solid 1px black;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.slot-form-container{
    width: 40%;
    margin-top: 18px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
    text-align: center;
}
.slot-form-container label{
    line-height: 15px;
    margin: 5px;
}
.slot-form-container input, select{
    height: 30px;
    outline: none;
    padding: 3px;
    width: 100%;
}
.slot-form-container button{
    border-width: 1px;
    border-style: solid;
    border-color: black;
    color: black;
    background-color: white;
    padding: 9px;
    margin-top:15px;
}
/* footer section */
.address{
    font-style: normal;
    font-size: 0.8em;
    margin-bottom: 30px;
}
.footer{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom:20px ;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer a{
    color:rgb(67, 163, 230) ;
    text-decoration: none;
}
.footer ul{
    list-style: none;
    padding: 0;
}
.footer h5{
    margin-top: 0;
    margin-bottom: 0;
}
.map-frame{
    height: 375px;
    width: 60%;
}